<div class="row">
  <div class="col-md-12">
    <h1>{{product.name}}</h1>
    <p>[{{product.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{product.image}}" style="width: 300px;margin-bottom: 25px;">
    <div class="well">
      <ul class="list-unstyled">
        {{!-- <li><strong>商品敘述:</strong> {{product.description}}</li> --}}
        <li><strong>金額:</strong> {{product.price}}</li>
        {{!-- <li><strong>Address:</strong> {{product.address}}</li> --}}
      </ul>
    </div>
  </div>
  <div class="col-mb-8">
    <p>商品敘述 : {{product.description}}</p>
    <br />

    <br />
  </div>
  <div class="row align-self-end">
    {{#if user}}
    <a href="/products/{{product.id}}/dashboard" class="btn btn-primary m-1">Dashboard</a>
    {{#if isFavorited }}
    <form action="/favorite/{{product.id}}?_method=DELETE" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-danger m-1">Remove Like</button>
    </form>
    {{else}}
    <form action="/favorite/{{product.id}}" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-primary m-1">Add Like</button>
    </form>
    {{/if}}
    <form action="/cart" method="POST">
      <input type="hidden" name="productId" value="{{product.id}}">
      <button type="submit" class="btn btn-primary m-1">Add to Cart</button>
    </form>
    {{else}}
    <a href="/products/{{product.id}}/dashboard" class="btn btn-primary m-1">Dashboard</a>
    <form action="/favorite/{{product.id}}" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-primary m-1">Add Like</button>
    </form>
    <form action="/cart" method="POST">
      <input type="hidden" name="productId" value="{{product.id}}">
      <button type="submit" class="btn btn-primary m-1">Add to Cart</button>
    </form>
    {{/if}}

  </div>
  <hr>

</div>
<br />
<br />

<br /><br />
<h3>所有評論：</h3>
{{#each product.Comments}}
{{#if ../user.role}}
<form action="/comments/{{this.id}}?_method=DELETE" method="POST" style="float: right;">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{{/if}}
<blockquote class="blockquote mb-0">
  <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
  <p>{{this.text}}</p>
  <footer class="blockquote-footer">{{moment this.createdAt}}</footer>
</blockquote>
<hr />
{{/each}}

<form action="/comments" method="POST">
  <div class="form-group">
    <label for="text">留下評論：</label>
    <textarea class="form-control" id="text" name="text" rows="3"></textarea>
  </div>
  <input type="hidden" name="productId" value="{{product.id}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br /><br />
<a href="javascript:history.back()">回上一頁</a>